# 1) www → non-www 정규화 (호스트 혼선 방지)
www.{$PUBLIC_HOST} {
  redir https://{$PUBLIC_HOST}{uri} 308
}


{$PUBLIC_HOST} {
  @superset path /superset/*
  handle @superset {
    # 프리픽스 "그대로" 유지해서 전달 (handle_path 쓰지 않음)
    reverse_proxy superset:8088
  }

  respond "OK" 200
}