pymongo==4.7.*
apache-airflow-providers-mongo==5.*
# # pandas==2.*
# pandas >= 2.2
# numpy==2.*
# SQLAlchemy >= 2.0.25
yfinance
# polygon
polygon-api-client
# sqlalchemy==2.*
apache-airflow-providers-fab